.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import "https://fonts.googleapis.com/css?family=PT+Sans:400,700";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'PT Sans';
  font-size: 18px;
}

.pictogram  {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  cursor: pointer;
}

.pictogram:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pictogramZoom {
  top: 50%;
  left: 50%;
  transform: none;
  z-index: 1;
  cursor: pointer;
}
