@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

html {
  --primary-color: #fff;
  --secondary-color: #282c34;
  --modal-color: rgba(255, 255, 255, 0.5);
  --green-color: #8ae800;
  --yellow-color: #faf100;
  --blue-color: #00a7ea;
  --red-color: #ff0061;
  --orange-color: #ffaa00;
  --purple-color: #7734ea;
  --border-color: white;
}

html[data-theme='dark'] {
  --primary-color: #282c34;
  --secondary-color: #fff;
  --modal-color: rgba(0, 0, 0, 0.5);
  --green-color: #18d43f;
  --yellow-color: #fdfd15;
  --blue-color: #1ab2de;
  --red-color: #ff1529;
  --orange-color: #ff961b;
  --purple-color: #ba29ea;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gochi Hand', cursive;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 76px;
}

.pictogram,
.themeIcon {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  cursor: pointer;
}

.pictogram:hover,
.themeIcon:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.pictogramZoom {
  cursor: pointer;
  border: 10px solid var(--border-color);
}

.orangeColor {
  background-color: var(--orange-color);
}

.greenColor {
  background-color: var(--green-color);
}

.blueColor {
  background-color: var(--blue-color);
}

.redColor {
  background-color: var(--red-color);
}

.yellowColor {
  background-color: var(--yellow-color);
}

.purpleColor {
  background-color: var(--purple-color);
}

.orangeColorText {
  color: var(--orange-color);
}

.greenColorText {
  color: var(--green-color);
}

.blueColorText {
  color: var(--blue-color);
}

.redColorText {
  color: var(--red-color);
}

.yellowColorText {
  color: var(--yellow-color);
}

.purpleColorText {
  color: var(--purple-color);
}

.gochiHandFontFamily {
  font-family: 'Gochi Hand', cursive;
  font-size: 18px;
}

@media (orientation: portrait) {
  .pictogramZoom {
    width: 65vw;
    margin-top: 10vw;
  }
}

@media (orientation: landscape) {
  .pictogramZoom {
    height: 55vh;
    margin-top: 10vh;
  }
}

/* Customize Bootstrap */

.modal {
  background: var(--modal-color);
}

.navbar {
  box-shadow: 2px 2px 5px var(--blue-color);
  opacity: 0.9;
  background: var(--primary-color);
}

.footer {
  opacity: 0.9;
  background: var(--primary-color);
  text-align: center;
}

.navbar-toggler {
  background-color: var(--purple-color);
}

.pictogram-section-active {
  box-shadow: 2px 2px 5px var(--blue-color);
}
